* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.home-container {
    display: flex;
    justify-content: center;
    background-color: #007BFF;
    gap: 50px;
    align-items: center;
    flex-wrap: wrap;


}

.home-item-left h1 {
    color: white;
    font-weight: bold;
    font-size: 45px;
}

.home-item-left p {
    color: white;
    padding: 20px 0px;
}

.inspire-button {
    display: flex;
    gap: 20px;
}

.inspire-bussiness-button {
    background-color: #FFEB3B;
    color: black;
    border-radius: 30px;
    padding: 15px 35px;
    font-weight: bold;
    border: 2px solid white;
    cursor: pointer;
}

.inspire-franchise-button {
    background-color: #FF3D00;
    color: white;
    border-radius: 30px;
    padding: 15px 35px;
    font-weight: bold;
    border: 2px solid white;
    cursor: pointer;

}

.inspire-bussiness-button:hover {
    background-color: #746906;

}

.inspire-franchise-button:hover {
    background-color: #6d1c04;


}




.home-item-right-img img {
    height: 700px;
    width: 550px;
    object-fit: contain;
    animation: float 3s ease-in-out infinite;
    /* Add animation with infinite loop */
}

@keyframes float {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }
}

@media (max-width: 768px) {
    .home-container {
        display: flex;
        justify-content: center;
        background-color: #007BFF;
        gap: 50px;
        align-items: center;
        flex-wrap: wrap;
        padding-top: 80px;
    
    
    }

}

@media (max-width: 1080px) {
    .home-container {
        display: flex;
        justify-content: center;
        background-color: #007BFF;
        gap: 50px;
        align-items: center;
        flex-wrap: wrap;
        padding-top: 200px;
        
    
    
    }
}